{% extends 'base/funciones.html' %}

{% block content %}
    <div class="container">
        <br>
        <h3 class="mb-3 mt-5 bread">Listar compañias</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for compania in object_list %}
                        <tr class="table-light">
                            <th scope="row">{{ compania.id_compania }}</th>
                            <td>{{ compania.actividad }}</td>
                            <td>
                                <a href="{% url 'compania_editar' compania.id_compania %}" class="btn btn-success">Editar</a>
                                <a href="{% url 'compania_eliminar' compania.id_compania %}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <br>
                <div class="container">
                    <h3>Aun no hay compañias registradas</h3>
                    <a href="{% url 'compania_crear' %}" class="btn btn-primary">Agregar compañias</a>
                </div>
                <br>
                {% endif %}
            </tbody>
    </table>
    <br>
    {% if object_list %}
        <a href="{% url 'reporte_compania_pdf' %}" class="btn btn-success">Generar reporte → </a>
    {% endif %}
    <br>
    </div>
{% endblock content %}