{% extends 'base/funciones.html' %}

{% block content %}
    <div class="container">
        <br>
        <h3 class="mb-3 mt-5 bread">Listar cuerpos</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Denominacion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for cuerpo in object_list %}
                        <tr class="table-light">
                            <th scope="row">{{ cuerpo.id_cuerpo }}</th>
                            <td>{{ cuerpo.denominacion }}</td>
                            <td>
                                <a href="{% url 'cuerpo_editar' cuerpo.id_cuerpo %}" class="btn btn-success">Editar</a>
                                <a href="{% url 'cuerpo_eliminar' cuerpo.id_cuerpo %}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <br>
                <div class="container">
                    <h3>Aun no hay cuerpos registrados</h3>
                    <a href="{% url 'cuerpo_crear' %}" class="btn btn-primary">Agregar cuerpos</a>
                </div>
                <br>
                {% endif %}
            </tbody>
    </table>
    <br>
    {% if  object_list %}
        <a href="{% url 'reporte_cuerpo_pdf' %}" class="btn btn-success">Generar reporte → </a>
    {% endif %}
    <br>
    </div>
{% endblock content %}