{% extends 'base/funciones.html' %}

{% block content %}
    <div class="container">
        <br>
        <h3 class="mb-3 mt-5 bread">Listar servicios</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for servicio in object_list %}
                        <tr class="table-light">
                            <th scope="row">{{ servicio.id_servicio }}</th>
                            <td>{{ servicio.descripcion }}</td>
                            <td>
                                <a href="{% url 'servicio_editar' servicio.id_servicio %}" class="btn btn-success">Editar</a>
                                <a href="{% url 'servicio_eliminar' servicio.id_servicio %}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <br>
                <div class="container">
                    <h3>Aun no hay servicios registrados</h3>
                    <a href="{% url 'servicio_crear' %}" class="btn btn-primary">Agregar servicios</a>
                </div>
                <br>
                {% endif %}
            </tbody>
    </table>
    <br>
    {%  if object_list %}
        <a href="{% url 'reporte_servicio_pdf' %}" class="btn btn-success">Generar reporte → </a>
    {% endif %}
    <br>
    </div>
{% endblock content %}