{% extends 'base/funciones.html' %}

{% block content %}
    <div class="container-fluid">
        <br>
        <h3 class="mb-3 mt-5 bread">Listar soldados</h3>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Grado</th>
                    <th scope="col">Servicio</th>
                    <th scope="col">Cuerpo</th>
                    <th scope="col">Compañia</th>
                    {% if perms.soldado.is_dos %}
                        <th scope="col">Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for soldado in object_list %}
                        <tr class="table-light">
                            <th scope="row">{{ soldado.id_soldado }}</th>
                            <td>{{ soldado.nombre }}</td>
                            <td>{{ soldado.apellido }}</td>
                            <td>{{ soldado.grado }}</td>
                            <td>{{ soldado.servicio }}</td>
                            <td>{{ soldado.cuerpo }}</td>
                            <td>{{ soldado.compania }}</td>
                            <td>
                                {% if perms.soldado.is_dos %}
                                    <a href="{% url 'soldado_editar' soldado.id_soldado %}" class="btn btn-success">Editar</a>
                                    <a href="{% url 'soldado_eliminar' soldado.id_soldado %}" class="btn btn-danger">Eliminar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <br>
                <div class="container-fluid">
                    <h3>Aun no hay soldados registrados</h3>
                    {% if perms.soldado.is_dos %}
                        <a href="{% url 'soldado_crear' %}" class="btn btn-primary">Agregar soldados</a>
                    {% endif %}
                </div>
                <br>
                {% endif %}
            </tbody>
    </table>
    <br>
    {% if  object_list %}
        <a href="{% url 'reporte_soldado_pdf' %}" class="btn btn-success">Generar reporte → </a>
    {% endif %}
    <br>
    </div>
{% endblock content %}